@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: Poppins;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weatherForm {
  margin: 20px;
}

.cityInput {
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  border: 2px solid hsla(0, 0%, 20%, 0.3);
  border-radius: 30px;
  margin: 10px;
  width: 300px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 2rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: rgb(58, 36, 36);
  transition: 0.5s;
}

button[type="submit"]:active {
  background-color: rgb(110, 102, 102);
  transition: 0.2s;
}

.card {
  background: linear-gradient(180deg, rgb(151, 151, 207), rgb(196, 224, 250));
  padding: 70px;
  border-radius: 40px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.54);
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  margin-top: 0;
  margin-bottom: 25px;
}

p {
  font-size: 1.5rem;
  margin: 5px 0;
}

.cityDisplay,
.tempDisplay {
  font-size: 3.5rem;
  font-weight: bold;
  color: hsl(0, 21%, 23%);
  margin-bottom: 25px;
}

.humidityDisplay {
  font-weight: bold;
  margin-bottom: 25px;
}

.descDisplay {
  font-weight: bold;
}

.weatherEmoji {
  margin: 0;
  font-size: 4.5rem;
}

.errorDisplay {
  font-size: 2.5rem;
  font-weight: bold;
}
